*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    background-image: url(fut.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    left: auto;
    top: auto;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

img{
    width: 200px;
    height: 300px;
    position: absolute;
    left: 50px;
    top: 180px;
    margin: 0;
    padding: 0;
}

i{
    width: 500px;
}

h1{
    left: 600px;
    top: 300px;
    background-position: 50px;
    color: #f1eded;
}

.btn a{
    position: fixed;
    display: flex;
    text-decoration: none;
    color: #fff;
    background: #111;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0,0,0,0.3);
    left: auto;
    top: auto;
    background-position: 50px;
}